@model JS_basic4.Models.Article

@{
    ViewBag.Title = "New";
    List<Position> positions = ViewBag.Positions;
    List<Position> articlePositions = ViewBag.ArticlePositions;
    List<Category> categories = ViewBag.Category;
}

@functions {
    public static bool CheckPosition(Position position, List<Position> articlePositions)
    {
        foreach (var item in articlePositions)
        {
            if (item.Id == position.Id)
            {
                return true;
            }
        }
        return false;
    }
}

<div class="container">
    <div class="row pt-4">
        @*<div class="col-md-1"></div>*@
        <div class="col-md-3">
            <img src="~/Content/IMG/logo_02.png" class="w-25" />
            <div class="list-group">
                <a href="/Blog/List" class="list-group-item  list-group-item-action list-group-item-light">List</a>
                <a href="/Blog/New" class="list-group-item  list-group-item-action list-group-item-light">New</a>
                <a href="/Blog/Search" class="list-group-item  list-group-item-action list-group-item-light">Search</a>
                <a href="#" class="list-group-item  list-group-item-action list-group-item-dark">Edit</a>
            </div>
        </div>
        <div class="col-md-9">
            <h3>Blog Management</h3>
            <h4>Edit blog</h4>
            <div class=" container row">
                <div class="col-md-5 py-3">
                    <form method="post" action="New">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <label>Tiêu đề</label>
                            <input class="form-control form-control-sm" name="Title" value="@Model.Title" />
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label>Mô tả ngắn</label>
                            <input class="form-control form-control-sm" name="Des" value="@Model.Des" />
                            @Html.ValidationMessageFor(model => model.Des, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label>Chi tiết</label>
                            <textarea class="form-control form-control-sm" name="Detail" rows="8">@Model.Detail</textarea>
                            @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Hình ảnh</label>
                            <div class="">
                                <div>
                                    @*<input type="text" id="picture" name="picture" class="form-control"/>*@
                                    <input class="form-control form-control-sm w-50 d-inline" name="Thumbs" id="picture" value="@Model.Thumbs" />
                                    <input type="file" id="fileUpload" accept="image/*" name="fileUpload" style="display:none;" />
                                    <input type="button" id="btnUpload" value="..." class="btn btn-sm btn-success" />
                                    @Html.ValidationMessageFor(model => model.Thumbs, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <img id="pictureUpload" class="w-50" />
                        </div>
                        <div class="form-group">
                            <label>Loại</label>
                            <select class="form-control form-control-sm w-25" name="CategoryId">
                                @foreach (var item in categories)
                                {
                                    if (Model.CategoryId == item.Id)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>

                                    }
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Vị trí</label>
                            @foreach (var item in positions)
                            {
                                <div class="form-check">
                                    <label class="form-check-label">
                                        @{
                                            var isChecked = CheckPosition(item, articlePositions);
                                            if (isChecked)
                                            {
                                                <input type="checkbox" class="form-check-input" value="@item.Id" name="Position" checked>@item.Name
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="form-check-input" value="@item.Id" name="Position">@item.Name
                                            }
                                        }
                                    </label>
                                </div>
                                @*bool flag = false;
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            @foreach (var position in articlePositions)
                                            {
                                                if (item.Id == position.Id)
                                                {
                                                    <input type="checkbox" class="form-check-input" value="@item.Id" name="Position" checked>@item.Name
                                                    flag = true;
                                                }
                                            }
                                            @if (!flag)
                                            {
                                                <input type="checkbox" class="form-check-input" value="@item.Id" name="Position">@item.Name
                                            }
                                        </label>
                                    </div>*@
                            }
                            @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label>Public</label>
                            @if (Model.IsPublic)
                            {
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="IsPublic" value="true" checked>Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="IsPublic" value="false">No
                                    </label>
                                </div>
                            }
                            else
                            {
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="IsPublic" value="true">Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="IsPublic" value="false" checked>No
                                    </label>
                                </div>
                            }
                            @Html.ValidationMessageFor(model => model.IsPublic, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label>Date public</label>
                            <input class="form-control form-control-sm w-50" name="DatePublic" type="date" value="@Model.DatePublic.ToString("yyyy-MM-dd")" />
                            @Html.ValidationMessageFor(model => model.DatePublic, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-success" type="submit">Submit</button>
                            <button class="btn btn-sm btn-danger" type="reset">Clear</button>
                        </div>

                    </form>
                </div>


            </div>

        </div>
    </div>

</div>


@section Upload{
    <script>
        $(function () { //Thực hiện hàm sau khi load xong trang

            //Đăng ký sự kiện click nút btnUpload
            $('#btnUpload').click(function () {
                $('#fileUpload').trigger('click');
            });

            //Bắt sự kiện change data của fileUpload
            $('#fileUpload').change(function () {
                //Kiểm tra trình duyệt có hỗ trợ FormData object không?
                if (window.FormData !== undefined) {    //so sánh tuyệt đối: cả kiểu dl và dữ liệu
                    //Lấy dữ liệu trên fileUpload
                    var fileUpload = $('#fileUpload').get(0);   //Lấy đối tượng đầu tiên
                    var files = fileUpload.files;

                    //Tạo đối tượng FormData
                    var formData = new FormData();
                    //Đưa dữ liệu vào form
                    formData.append('file', files[0]);

                    $.ajax(
                        {
                            type: 'POST',
                            url: '/Blog/ProcessUpload',
                            contentType: false, //Không có header
                            processData: false, //không xử lý dữ liệu
                            data: formData,
                            success: function (urlImage) {
                                $('#pictureUpload').attr('src', urlImage);
                                $('#picture').val(urlImage);
                            },
                            error: function (err) {
                                alert('Lỗi upload: ' + err.statusText);
                            }
                        }
                    );
                }
            });
        });
    </script>
}